<%= form_with(model: @reply) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Reply micropost..." %>
    </div>
    <%= f.hidden_field :parent_post_id, value: @micropost.id %>
    <%= f.submit "Reply", class: "btn btn-primary" %>
    <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <% end %>